{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block container %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'accounts:profile' %}">My profile</a></li>
      <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>

<div class="page-header">
  <h1>Bellman <small>Collaborate a bit better across time zones.</small></h1>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Your Bellman Slack accounts</div>

  <!-- Table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td></td>
        <td>Team Name</td>
        <td>Created at</td>
      </tr>
    </thead>
    <tbody>
    {% for account in user.slackaccount_set.all %}
    <tr>
      <th>{{forloop.counter}}</th>
      <td>
        <a href="{% url 'accounts:slack-detail' pk=account.pk %}">
          {{account.team_name}}
        </a>
      </td>
      <td>
        <a href="{% url 'accounts:slack-detail' pk=account.pk %}">
          {{account.updated_at|naturaltime}}
        </a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
