{% extends "account/base.html" %}
{% load humanize %}

{% block page_header %}
<div class="page-header">
  <h1>Slack account for team: {{object.team_name}}</h1>
</div>
{% endblock %}

{% block page_content %}

  <div class="panel panel-default">
    <!-- Table -->
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Team name:</th>
          <td colspan="2">{{object.team_name}}</td>
        </tr>
        <tr>
          <th>Authorized scope:</th>
          <td colspan="2">{{object.scope}}</td>
        </tr>
        <tr>
          <th>Created at:</th>
          <td>{{object.created_at}}</td>
          <td>
            <a href="https://slack.com/oauth/authorize?scope={{SLACK_SCOPES}}&client_id={{SLACK_CLIENT_ID}}&amp;redirect_uri={{request.session.authorize_request_uri}}&amp;state={{request.session.authorize_state}}&amp;team={{object.team_id}}">Setup again</a>
          </td>
        </tr>
        <tr>
          <th>Last updated at:</th>
          <td colspan="2">{{object.updated_at}}</td>
        </tr>
        <tr>
          <th>Webhook URL</th>
          <td colspan="2">{{object.incoming_webhook_url}}</td>
        <tr>
        <tr>
          <th>Webhook Channel</th>
          <td colspan="2">{{object.incoming_webhook_channel}}</td>
        </tr>
        <tr>
          <th>Bot</th>
          <td>
            {{object.get_bot_status_display}}, last check in:
            {% if object.bot_checkin %}
              {{object.bot_checkin|naturaltime}}
            {% else %}
              Never
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Bot Log</th>
          <td>
            {{object.bot_error_message}}
          </td>
        <tr>
          <th></th>
          <td colspan="2">
            <form action="" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-default">Update</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
{% endblock %}
